@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

$fw-thin:100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;

$color-black: #000000;
$color-white: #FFFFFF;
$color-gray:#707070;
